.wrapper {
      min-height: calc(96vh - 20px);
  }
body {
  color: #212121;
  font-family: Lucida Sans, Helvetica, Arial, sans-serif;
}
p {
  max-width: 1080px;
}
footer {
  height: 20px;
}
.copyright {
  float: left;
}

.updated { 
  float: right;
}